<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <% for (var i = 0; i < items.length; i++) {%>
     
      <% var slug = `https://www.youtube.com/watch?v=${items[i].id.videoId}` %>
      <a href=<%= slug%>>
        <img src=<%= items[i].snippet.thumbnails.default.url%>>
      </a>
      <h2><%= JSON.stringify(items[i].snippet.title) %> </h2>  
      <% } %> 
    <script src="video.js"></script>
  </body>
</html>
